<div class="board__container">
   <div class="board__winner" *ngIf="endGame">
    <span>Winner: {{winner | uppercase}}</span>
    <button (click)="newGame()" *ngIf="endGame">New Game</button>
   </div>
  <div class="board__header" *ngIf="!endGame">
    <span>Playing Now: {{currentPlayer| uppercase}}</span>
  </div>
  <div *ngFor="let row of [1,2,3]; let r = index" class="board__game">
   <button *ngFor="let userSelection of [1,2,3]; let c = index"
   (click)="setValue($event ,c, r)"
   class="tik_button"
   [disabled]="endGame">&nbsp;</button>
  </div>
</div>
